@import "tailwindcss";

/* Títulos principais*/
@font-face {
  font-family: 'DM Serif Text';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./assets/fonts/dm-serif-text-v15-latin-regular.woff2') format('woff2');
}

/* Títulos secundários - medium */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./assets/fonts/dm-sans-v15-latin-regular.woff2') format('woff2');
}

/* Títulos secundários - semi-bold */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./assets/fonts/dm-sans-v15-latin-600.woff2') format('woff2');
}

/* Textos */
@font-face {
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./assets/fonts/dm-mono-v14-latin-300.woff2') format('woff2');
}

:root {
  --cor-texto-titulo: #393939;
  --cor-texto-base: #313131;
  --cor-texto-descricao: #656565;
  --cor-pagina-bg: #f3f4f5;
  --cor-enfase: #80e67c;
  --cor-surface: #ffffff;
  --borda: #e6e6e6;
  --fonte-titulo-principal: 'DM Serif Text', serif;
  --fonte-titulo-secundario: 'DM Sans', sans-serif;
  --fonte-texto-corpo: 'DM Sans', sans-serif;
  --fonte-mono: 'DM Mono', monospace;
}

body {
  margin: 0;
  background: var(--cor-pagina-bg);
  color: var(--cor-texto-base);
  font-family: var(--fonte-texto-corpo);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  min-height: 100svh;
}