@import "tailwindcss";

/* Títulos principais e texto principal*/
@font-face {
  font-family: 'DM Serif Text';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./assets/fonts/dm-serif-text-v15-latin-regular.woff2') format('woff2');
}

/* Linha fina da notícia - Na página do feed de notícias: font-weight: 500*/
/* Texto corrido na página da notícia - font-weight: 500*/

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./assets/fonts/dm-sans-v15-latin-500.woff2') format('woff2');
}

/* Linha fina da notícia - Na página da notícia: font-weight: 400*/

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./assets/fonts/dm-sans-v15-latin-400.woff2') format('woff2');
}

/* Títulos das notícias - semi-bold */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./assets/fonts/dm-sans-v15-latin-600.woff2') format('woff2');
}

/* Textos */
@font-face {
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./assets/fonts/dm-mono-v14-latin-300.woff2') format('woff2');
}

@theme {
  /* Cores */
  --color-fonte-home: #393939;
  --color-fonte-noticia: #313131;
  --color-resumo-noticia: #656565;
  --color-bg: #f3f4f5;
  --color-enfase: #80e67c;
  --color-surface: #ffffff;
  --color-borda: #e6e6e6;
  
  /* Fontes */
  --font-titulo-noticia: 'DM Serif Text', serif;
  --font-titulo-noticia-home: 'DM Sans', sans-serif;
  --font-resumo-home: 'DM Sans', sans-serif;
  --font-resumo-noticia: 'DM Sans', sans-serif;
  --font-texto-corpo: 'DM Sans', sans-serif; 
  --font-mono: 'DM Mono', monospace;

  /* Pesos */
  --font-weight-titulo-noticia: 400; 
  --font-weight-titulo-noticia-home: 600; 
  --font-weight-resumo-home: 400;      
  --font-weight-resumo-noticia: 500;   
  --font-weight-corpo-noticia: 500;            
  --font-weight-mono: 300;             
}


body {
  margin: 0;
  background: var(--color-bg);
  color: var(--color-fonte-noticia);
  font-family: var(--font-texto-corpo);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  min-height: 100svh;
}